@mixin creatorBtnStyle($horizontalPos, $destHorPos, $bgColor, $bgImgPath, $bgOnHover){
  position: absolute;
  width: 20px;
  height: 20px;
  #{$horizontalPos}: $destHorPos;
  background-color: $bgColor;
  background-image: url($bgImgPath);
  cursor: pointer;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  transition: all 0.3s ease-in-out;

    &:hover{
      background-color: $bgOnHover;
      box-shadow: 0 0 5px rgba($primary-dark-color, 0.4);
    }
}
