$primary-light-color: #fff;
$primary-dark-color: #000;
$thunder-color: #302727;
$dove-gray-color: #696969;
$silver-color: #cccccc;
$wild-sand-color: #F5F5F5;
$forest-green-color: #34A720;
$dodger-blue-color: #1DC7FF;
$cornflower-blue: #5084F1;
$scarlet-color: #F41C10;
$persian-red-color: #C6322A;
