<li class="list-group-item">
  <div class="mb-1" *ngIf="purchase.isEdited; else inputBlock">
    <input
      type="text"
      class="form-control form-control--inline-box"
      [(ngModel)]="purchase.title"
    >
    <button
      class="btn btn-primary ml-1"
      (click)="saveChanges()"
    >
      Save
    </button>
  </div>
  <div class="wrapper-btn">
    <button
      class="btn btn-success"
      (click)="editItem()"
    >
      Edit
    </button>
    <button
      class="btn btn-info ml-1"
      (click)="cloneItem()"
    >
      Clone
    </button>
    <button
      class="btn btn-danger ml-1"
      (click)="removeItem()"
    >
      Remove
    </button>
  </div>
  <ng-template #inputBlock>
    {{ purchase.title + ' - '}}
    <span>
      {{ purchase.count }}
      {{ purchase.count === 1 ? 'item' : 'items'}}
    </span>
  </ng-template>
</li>

