@import "../../../../styles/variables";

.menu{
  display: flex;
  align-items: center;

  &__item{
    margin-left: 15px;
  }

  &__link{
    color: $primary-light-color;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: $dodger-blue-color;
    }
  }
}
