<section class="container mb-2">
  <h1 class="text-center">HTTP Client</h1>
  <form (ngSubmit)="addPost()" [formGroup]="form">
    <!--Title block-->
    <div class="form-group">
      <label for="title">Title post</label>
      <input type="text"
             class="form-control"
             id="title"
             name="title"
             formControlName="title"
      >
      <!--Text error for invalid title-->
      <small class="text-danger"
             *ngIf="isEmptyTitle"
      >
        Title is not valid!
      </small>
      <!--Text error for title name-->
      <small class="text-danger"
             *ngIf="title.errors && title.errors.minlength"
      >
        Name is a very short {{ title.errors.minlength.actualLength }} characters.
        It should be no less than {{ title.errors.minlength.requiredLength }} characters.
      </small>
    </div>

    <!--Comment block-->
    <div class="form-group">
      <label for="comment">Comment post</label>
      <textarea
          type="text"
          rows="3"
          class="form-control"
          id="comment"
          name="comment"
          formControlName="comment"
      ></textarea>
      <!--Text error for invalid comment-->
      <small class="text-danger"
             *ngIf="comment.invalid && comment.touched"
      >
        Comment is invalid!
      </small>
    </div>

    <!--Submit button-->
    <button type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || form.pending"
    >
      Send Post</button>
    <!--Delete all posts button-->
    <button class="btn btn-danger" (click)="deletePosts()">Delete all posts</button>
  </form>

  <!--Text for invalid form-->
  <small class="text-danger pt-2"
         *ngIf="form.invalid && form.touched"
  >
    Sorry, you can not send form, because it's invalid.
    Please, fill all required fields!
  </small>
</section>
<!--Error request block-->
<div class="text-danger container"
     *ngIf="error; else content"
>
  {{ error }}
</div>
<ng-template #content>
  <section class="container" *ngIf="!isLoaded; else loader">
    <!--List of posts-->
    <div>
      <ul class="list-group" *ngIf="posts.length > 0; else nothingToShowBlock">
        <li class="list-group-item" *ngFor="let post of posts">
          <h4 class="text-capitalize">
            {{ post.title }}
          </h4>
          <div class="text-capitalize font-weight-bold">
            {{ post.comment }}
          </div>
        </li>
      </ul>
    </div>
    <ng-template #nothingToShowBlock>
      <p class="border bg-white">
        There is no one post yet.
      </p>
    </ng-template>
  </section>
  <ng-template #loader>
    <div class="container">
      <div class="loader"></div>
    </div>
  </ng-template>
</ng-template>
