@import "../../../../../styles/variables";
.todo-input{

  &__item{
    padding: 5px 10px;
    border-radius: 3px 0 0 3px;
    border: 1px solid $silver-color;
    width: 50%;
    font-size: 1.1rem;
  }

  &__button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $silver-color;
    border-left: none;
    transition: background-color, color 0.3s ease-in-out;
    font-size: 1.1rem;

    &:hover{
      background-color: $silver-color;
      color: $primary-light-color;
    }
  }
}
