<li
  class="todo-item"
  [ngClass]="task.isDone ? 'todo-item--done': null"
  [ngStyle]="{'display': task.isRemoved ? 'none' : 'flex'}"
>
  <input
    type="checkbox"
    class="todo-item__stateDone"
    (input)="toggleDone()"
    [attr.id]="task.id"
  >
  <label
    [attr.for]="task.id"
    class="todo-item__label">
    {{ task.isEdited ? "" : task.value }}
  </label>
  <input
    type="text"
    class="todo-item__edit-item"
    [(ngModel)]="task.value"
    [ngStyle]="{'display': task.isEdited ? 'block' : 'none'}"
    (blur)="onEdit()"
    *ngIf="task.value; else elseBlock"
  >

  <button class="todo-item__btn todo-item__btn--remove" (click)="onRemove()"></button>
  <button class="todo-item__btn todo-item__btn--edit" (click)="onEdit()"></button>

  <ng-template #elseBlock><div>The empty task, please remove it!</div></ng-template>

</li>
